/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";

body, .p-component {
  font-family: 'Ubuntu Mono', monospace !important;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
}